.caja{
    width: 600px;
    background-color: black;
    height: 100px;
    margin: 5px;
    border-radius: 5px;
  
} 
.contenido{
    width: 600px;
    background-color: #ecf0f1;
    height: auto;
    margin: 5px;
    border-radius: 5px;
    text-align: justify;
}